/* ---MAIN---PORTFOLIO */
.projects {
  @extend %section;
  padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
}
.projects-cards{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-set__item{
  --items: 1;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    // display: flex;
    justify-content: center;
  }
      
  @media screen and (min-width: 768px) {
      --items: 2;
  }
  
  @media screen and (min-width: 1200px) {
      --items: 3;
  }
}
.projects-list-btn {
  display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 8px;
    margin-bottom: 40px;
    justify-content: flex-start;

    @media screen and (min-width: 768px) {
        gap: 8px;
        margin-bottom: 30px;
        justify-content: center;
    }    

    @media screen and (min-width: 1200px) {
        gap: 8px;
        margin-bottom: 50px;
        justify-content: center;
    }
  }
  .projects-title {
    margin-bottom: 4px;
  
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--section-title-text);
  }
  .projects-text {
    border: 1px solid var(--cards-border-cl);
    padding: 20px 24px;
    flex-grow: 1;
  }
  .projects-title-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
  }